.main {
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}
.Title {
    width: 40%;
    max-width: 400px;
    font-size: 1.2rem;
    color: #333333;
    margin: 0;
    padding: 10px;
}
.Title > h1 {
    margin: 0;
}
.Title > p {
    margin: 0;
    padding: 5px;
    font-size: 0.8rem;
    color: #666666;
}

.form {
    width: 60%;
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.google_signin {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}
.google_signin > button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s;
}
.google_signin > button:hover {
    background-color: #f7f7f7;
}

@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }
    .Title {
        width: 100%;
    }
    .form {
        width: 100%;
    }
}
